<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- META SECTION -->
    <title>Spring Framework Guru JdbcTemplate, Thymeleaf, JPA Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- END META SECTION -->
    <!--  BEGIN STYLE -->
    <style>
        table, th, td {
            border: 1px solid black;
            padding: 1px;
        }
    </style>
    <!--  END STYLE -->
</head>
<body>


    <h2>Add A Dog</h2>
    <form action="#" th:action="@{/}" method="post">
        <label>Name<input type="text" name="name" id="id"></input></label>
      
        <input type="submit" value="Submit"></input>
    </form>
</div>

</body>
</html>