<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IN D E X  P A G E </title>
</head>
<body>

<form action="/save" method="post" >
    <table>
        <tr>
            <td> <label for="user-name">USER NAME </label>  </td>
            <td> <input id="user-name" type="text" name="name"> </td>
        </tr>

        <tr>
            <td> <label for="my-email">EMAIL </label>  </td>
            <td> <input id="my-email" type="text" name="email"> </td>
        </tr>
        <tr>
            <td>..................</td>
            <td><input type="submit" value="Submit"> </td>
        </tr>
    </table>

</form>

</body>
</html>